@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Implement Live Ajax Search Functionality</h1>
    <h3>Using ASP.NET Core with Razor Pages</h3>
    <hr />
    <input type="search" id="searchrec" class="search" placeholder="Search Data ...!"  />
    <table class="table" id="table1">
        <tr>
            <th>Dispute ID</th>
            <th>Customer No</th>
            <th>SaleMan</th>
            <th>NIC Code</th>
            <th>Dispute Code</th>
            <th>Division</th>

        </tr>
        @foreach (var item in Model.results)
        {
            <tr>
                <td>@item.DispId</td>
                <td>@item.Customer_No</td>
                <td>@item.SaleMan</td>
                <td>@item.NIC_Code</td>
                <td>@item.DisputeCode</td>
                <td>@item.Division</td>
            </tr>
        }
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function ()
    {
        $(".search").on("keyup", function ()
        {
            var datasearch = $(this).val().toLowerCase();
            $("#table1 tr").each(function ()
            {
                var stringdata = $(this).text().toLowerCase();
                if (stringdata.indexOf(datasearch) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>

